.container {
    padding-top: 1%;
    display: inline-block;
}

.title{
    font-size:xx-large;
    font-weight: bold;
    font-family: "Modern";
    color: black;   
}

.dropdown{
    border: 1px black solid;
    width: 10vh;
}

.export{
    font-size: large;
    font-weight: bold;
    font-family: "Kayak";
    color: black; 
}

.center {
    margin: auto;
    text-align: center;
}

.solid {
    border-top: 4px solid black;
    color: black;
}

.separator {
    width: 70%;
    margin: auto;
    color: black;
}

.hub{
    width: 80%;
    margin: auto;
}

.top-right{
    position: absolute;
    top: 0;
    right: 0;
}